
.Text_Bold1pixBigger {
    font-weight: bold;
    font-size: 13px;
    color: #0066cc;
    line-height: normal;
}

.bodyText {
    font-size: 12px;
    color: #000000;
    line-height: normal;
}

.i1 {
    padding-left: 15px;
}

.member_alert_score_review_bg {
    background-image: url("images/TU/member_alter_score_review_bg.png");
    background-repeat: repeat-x;
    border: 1px solid #adc6ee;
    border-radius: 5px;
    float: left;
    padding: 0; /*min-height: 153px;*/
    width: 342px;
}

.member_alert_score_bg {
    background: #dedfdf none repeat scroll 0 0;
    border: 1px solid #9da7b1;
    border-radius: 3px;
    float: left;
    font-size: 28px;
    font-weight: bold;
    height: 36px;
    line-height: 23px;
    padding-top: 10px;
    text-align: center;
    width: 85px;
    font-family: inherit !important;
}

.pageHeaderNoMargin {
    font-size: 24px;
    line-height: 24px;
    vertical-align: bottom;
    color: #009966;
    font-style: normal;
    font-weight: normal;
    border: 0px;
    margin: 0px;
    padding: 0px;
}



.disclaimerSmall {
    font-size: 10px;
    color: #666666;
}

.disclaimerSmallColour {
    font-size: 10px;
    color: #043737;
}


.disclaimer {
    font-weight: normal;
    font-size: 10px;
    font-style: normal;
    font-family: Verdana,arial, geneva, sans-serif;
    color: #333333;
}



.errorText {
    font-size: 11px;
    color: #CC0000;
    font-weight: bold;
}

.header {
    background-color: #009966;
}


.progressHeader {
    background-color: #009966;
}


.firstNav {
    color: #666666;
    background-color: #FFFFFF;
}

.firstNavLink:visited {
    color: #666666;
}

.contentBorder {
    background-color: #CCCCCC;
}

.faqHeader {
    color: #000000;
    background-color: #DDDDDD;
    font-weight: bold;
    font-size: 11px;
}

.faqBody {
    color: #006633;
    background-color: #EEEEEE;
    font-size: 11px;
}

.content {
    position: absolute;
    vertical-align: top;
    horizontal-align: left;
    width: 100%;
    height: 100%;
}

.formHeader {
    font-size: 10px;
    color: #FFFFFF;
    background-color: #818286;
    font-weight: bold;
    padding: 2px;
}

.formBody {
    font-size: 11px;
    color: #000000;
    background-color: #DDDDDD;
    font-weight: normal;
    padding: 0px;
}

.receiptTotal {
    font-size: 11px;
    font-weight: normal;
    padding: 0px;
}

.submitBody {
    font-size: 11px;
    color: #000000;
    background-color: #CBCBCB;
    font-weight: normal;
    padding: 0px;
}


.bodyText {
    font-size: 12px;
    color: #000000;
    background-color: #FFFFFF;
    font-weight: normal;
    padding: 0px;
}

.bodyTextScore {
    font-size: 8.3pt;
    color: #000000;
    background-color: #FFFFFF;
    font-family: Verdana,Arial, Helvetica, sans-serif;
    font-weight: normal;
    padding: 0px;
}



.homeBody {
    font-size: 12px;
    color: #009966;
    background-color: #E4EFE4;
    font-weight: normal;
    padding: 0px;
}

.darkGreyComment {
    font-size: 11px;
    color: #818286;
    font-weight: normal;
    padding: 0px;
}

.lightGreyComment {
    font-size: 11px;
    color: #CBCBCB;
    font-weight: normal;
    padding: 0px;
}

.darkGreyCommentOnBlue {
    color: #818286;
    background-color: #D1E6F2;
    font-weight: normal;
    font-size: 11px;
    padding: 0px;
}

.darkBlueHeaderOnBlue {
    color: #003366;
    background-color: #D1E6F2;
    font-weight: bold;
    padding: 0px;
}

.subH1Comment {
    color: #009966;
    background-color: #FFFFFF;
    font-weight: normal;
    padding: 0px;
    font-size: 11px;
}

.suberrH1Comment {
    color: #009966;
    background-color: #FFFFFF;
    font-weight: normal;
    padding: 0px;
    font-size: 11px;
}

.crTableBackground {
    background-color: #EEEEEE;
    font-size: 11px;
}


.crTableBackgroundLight {
    background-color: #EEEEEE;
    font-size: 11px;
}

.contentLarge {
    color: #333333;
    font-size: 10pt;
}

.reportAvailableText {
    font-size: 13px;
}

.pageHeading1GreyScale {
    color: #818286;
    font-size: 12pt;
    font-weight: bold;
}

.crGrantedTradelineHeader {
    color: #003498;
    background-color: #DDDDDD;
    font-size: 11px;
    font-weight: bold;
}

.crTradelineHeader {
    background-color: #EEEEEE;
    font-size: 11px;
}

.crTradelineGroupHeader {
    color: #000000;
    font-size: 13px;
    padding: 5px;
    background-color: #fefeda;
}


.crTableBackgroundSmall {
    background-color: #DDDDDD;
    font-size: 10px;
}


.crTableBackgroundVerySmall {
    background-color: #DDDDDD;
    font-size: 11px;
}

.crDarkGreenText {
    color: #006633;
}

    .crDarkGreenText:visited {
        color: #006633;
    }

    .crDarkGreenText:active {
        color: #006633;
    }

    .crDarkGreenText:link {
        color: #006633;
    }


.crTableHeader {
    background-color: #eeeeee;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 11px;
}

.alertTableHeader {
    background-color: #868686;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 11px;
}

.scoreTableHeader {
    background-color: #4884da;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 11px;
}

.singleScoreTableHeader {
    background-color: #4a86de;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 10px;
}

.crTab {
    background-color: #DDDDDD;
    color: #000000;
    font-size: 12px;
}

.crTabScore {
    background-color: #ffffff;
    color: #2765bf;
    font-size: 11px;
}

.bodyTextDesc {
    font-size: 10px;
    color: #000000;
    font-weight: bold;
    padding: 0px;
}

.bodyTextBoldAlertDesc {
    font-size: 10px;
    color: #000000;
    font-weight: bold;
    padding: 0px;
}

.crLightTableBackground {
    background-color: #FFFFFF;
    font-size: 11px;
}

.alertLightTableBackground {
    background-color: #EEEEEE;
    font-size: 11px;
}

.scoreLightTableBackground {
    background-color: #EEEEEE;
    font-size: 11px;
}

.crRoseLightTableBackground {
    background-color: #F7F3F7;
    font-size: 11px;
}

.largeMaintenanceText {
    font-size: 24px;
    line-height: 24px;
    color: #000000;
    font-style: normal;
    font-weight: bold;
    border: 0px;
    margin: 0px;
    padding: 0px;
    padding-bottom: 5px;
}

.bodyTextU {
    font-weight: normal;
    font-size: 75%;
    border-bottom: black 1px solid;
}

.topHeaderGreyComment {
    padding-left: 14px;
    font-weight: bold;
    font-size: 1.25em;
    color: #9c9c9c;
}

.topHeaderGreyComment1 {
    font-weight: bold;
    font-size: 1.00em;
    color: #9c9c9c;
}

.borderColor {
    border-color: #9c9c9c;
}

.crNameText {
    color: #5280b1;
    font-size: 18px;
}

.crThreeScoreBottomText {
    font-size: 12px;
    color: #999999;
    background-color: #FFFFFF;
    font-weight: normal;
    padding: 0px;
}

.bottomBodyText {
    font-size: 12px;
    color: #000000;
    background-color: #FFFFFF;
    font-weight: normal;
    padding: 6px;
}

A.bcLinkAlert:active {
    color: #5280b1;
    text-decoration: underline;
    font-size: 4px;
}

.bodyTextBoldAlert {
    font-weight: bold;
    font-size: 75%;
    padding-left: 5px;
}

.pageTitleAlertPopup {
    font-weight: bold;
    font-size: 1.25em;
    color: #999999;
}

.logOutHeading {
    font-size: 18px;
}

.logOutText {
    font-size: 12px;
}

.crTableBackgroundForPrint {
    background-color: #FFFFFF;
    font-size: 11px;
}

.crLightTableBackgroundForPrint {
    background-color: #FFFFFF;
    font-size: 11px;
}

.crTableBackgroundLightForPrint {
    background-color: #FFFFFF;
    font-size: 11px;
}

.crTradelineHeaderForPrint {
    background-color: #FFFFFF;
    font-size: 11px;
}

.crTradelineGroupHeaderForPrint {
    font-size: 12px;
    color: #000000;
    padding: 5px;
}

.RmediumForPrint {
    background-color: #FFFFFF;
    font-weight: bold;
    font-size: 11px;
}

.RSmallForPrint {
    background-color: #FFFFFF;
    font-size: 11px;
}

.reportSubTitle {
    font-size: 28px;
}

.idLikeTo {
    font-size: 11px;
    list-style: none;
    margin: 0;
    padding: 0 0 0 0;
}

.tranunionHeaderColum {
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    background-color: #4d917b;
    padding-left: 5px;
}

.experianHeaderColum {
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    background-color: #044993;
    padding-left: 5px;
}

.equifaxHeaderColum {
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    background-color: #971d31;
    padding-left: 5px;
}

.whiteText {
    color: #FFFFFF;
    font-weight: bold;
}

.tranUnionText {
    color: #4D917B;
    font-weight: bold;
    font-size: 12px;
}

.experianText {
    color: #044993;
    font-weight: bold;
    font-size: 12px;
}

.equifaxText {
    color: #971D31;
    font-weight: bold;
    font-size: 12px;
}

.sectionHeader {
    font-size: 17px;
    color: #369BCD;
}

.accountHeader {
    color: #0066FF;
    font-weight: bold;
    font-size: 12px;
}


tr.table_headers {
    background: white url(https://www.myfreescorenow.com/TU/images/table_headers_bg.gif) bottom left repeat-x;
    color: #FFFFFF;
    margin: 0 0 0 0;
    padding: 0;
    font-size: 17px;
    font-weight: bold;
}

.tableborder {
    border: 2px solid green;
}

.inquiriesHeader {
    background-color: #cccccc;
    font-weight: bold;
    font-size: 11px;
    color: #000000;
}

.accountHistoryColorRow {
    background-color: #eeeeee;
    color: #000000;
    font-weight: bold;
    font-size: 11px;
}

.alertColHeader {
    color: #0066FF;
    font-weight: bold;
    font-size: 10px;
}

.crNoTableBackground {
    font-size: 12px;
}

.backtoTopText {
    float: right;
    font-size: 11px;
    color: #000000;
}

.score_table_headers {
    background: white url(https://www.myfreescorenow.com/TU/images/table_headers_bg.gif) bottom left repeat-x;
    color: #FFFFFF;
    margin: 0 0 0 0;
    padding: 0;
    font-weight: bold;
}

.score_sectionHeader {
    color: #369BCD;
    font-weight: bold;
    font-size: 12px;
}

.crWhiteTradelineHeader {
    color: #003498;
    background: white url(https://www.myfreescorenow.com/TU/images/table_headers_bg.gif) bottom left repeat-x;
    background-color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    margin: 0 0 0 0;
    padding: 0;
}

.paymenttranUnionText {
    color: #4D917B;
    font-weight: bold;
    font-size: 10px;
}

.paymentexperianText {
    color: #044993;
    font-weight: bold;
    font-size: 10px;
}

.paymentequifaxText {
    color: #971D31;
    font-weight: bold;
    font-size: 10px;
}

.crNoColorTableHeader {
    background-color: #eeeeee;
    font-weight: bold;
    font-size: 11px;
}

.bodyTextBoldCSm {
    font-weight: bold;
    font-size: 11px;
}

.expHeader {
    background-color: #191970;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 17px;
}

.eqfHeader {
    background-color: #8B0000;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 17px;
}

.tuHeader {
    background-color: #4d917b;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 17px;
}

.tuAlertHearder {
    color: #000000;
    font-weight: bold;
    background-color: #eee3c5;
    font-size: 12px;
    padding: 5px;
}

.tuAlertText {
    color: #000000;
    background-color: #f6f3e2;
    font-size: 12px;
}

.contentMedium {
    color: #000000;
    font-weight: bold;
    font-size: 12px;
}

.contentSmall {
    color: #000000;
    font-size: 12px;
}
/**Custom Style 
*/
table.tbl-tu-report {
    width: 100%;
}

table.tbl-tu-borderd {
    border: 1px solid #eeeeee;
}

.padding-left-right-5 {
    padding-left: 5px;
    padding-right: 5px;
}

.title-padding {
    padding: 2px 5px;
}
/*--------------------------------*/
div.rpt_fullReport_header {
    margin: 0;
    color: #fff;
    text-align: left;
    font-size: 20px;
    font-weight: 800;
    padding: 16px 10px;
    background: #3B4752;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sub_header {
    color: #ffffff;
    background-color: #3B4752;
    text-align: left;
    font-weight: bold;
    padding: 8px;
    vertical-align: middle;
    line-height: 19px;
    clear: both;
}

.return_topSpan {
    float: right;
    color: white;
}

.return_topSpan img {
    border-width: 0px;
    border-style: none;
    margin-right: 5px;
    vertical-align: middle;
    margin-top: -3px;
    max-width: 15px;
    max-height: 15px;
}

.return_topSpan a {
    text-decoration: underline;
    font-weight: bold;
    color: white;
}

div.rpt_content_wrapper {
    margin-top: 16px;
    color: #3B4752;
    font-size: 16px;
}

table.rpt_content_table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

table.rpt_table4column th, table.rpt_table4column td {
    width: 25%;
}

td.leftHeader {
    width: 100px;
    font-size: 11px;
    font-weight: 600;
}

table.rpt_content_header th {
    padding: 8px 5px;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    /* height: 40px; */
}

table.rpt_content_header td {
    padding: 3px 5px 3px 5px;
    /* height: 40px; */
}

th.headerTUC {
    background-color: #4AA3C6;
}

th.headerEXP {
    background-color: #2B4E8C;
}

th.headerEQF {
    background-color: #8C2A35;
}

td.headerTUC {
    background-color: #4AA3C6 !important;
    color: #fff !important;
}

td.headerEXP {
    background-color: #2B4E8C !important;
    color: #fff !important;
}

td.headerEQF {
    background-color: #8C2A35 !important;
    color: #fff !important;
}

td.label {
    font-weight: 600;
    text-align: right;
    padding-right: 15px !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

td.info {
    font-weight: 600;
    text-align: center;
    padding: 20px;
    /* height: 40px; */
}

.re-even-odd tr:nth-child(odd),
table.rpt_table4column tr:nth-child(odd) {
    background-color: #fff;
}

.re-even-odd tr:nth-child(even)
table.rpt_table4column tr:nth-child(even) {
    background-color: #F5F5F5;
}

.re-even-odd tr:nth-child(even) {
    background-color: #F5F5F5;
}


.none-reported-tr {
    background-color: #F5F5F5 !important;
}

table.rpt_table4column tr:nth-child(even) td:nth-child(2) {}

table.rpt_table4column tr:nth-child(even) td:nth-child(3) {}

table.rpt_table4column tr:nth-child(even) td:nth-child(4) {}

.re-even-odd table.rpt_content_header td {
padding: 15px !important;
}

.tranUnionClr {
    color: #4AA3C6 !important;
}

.experianClr {
    color: #2B4E8C !important;
}

.equifaxClr {
    color: #8C2A35 !important;
}

.hstry_subtitle {
    background-color: #ddd;
    padding: 5px 6px;
    border: solid 1px #ddd;
}

table.addr_hsrty {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    background-color: White;
}

    table.addr_hsrty td.info {
        font-size: 11px;
        border: solid 1px #F5F6F6;
        font-weight: bold;
        text-align: center;
        padding-top: 4px !important;
        padding-bottom: 4px !important;
        padding-left: 0px;
        padding-right: 0px;
    }

    .hstry-header {
        padding: 10px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

.hstry-header-2yr {
    border-top-width: 0px;
    font-size: 16px;    
}

.hstry-unknown {
    background-color: #DEDEDE !important;
}

.hstry-no-data-provided {
    background-color: white !important;
}

.hstry-ok {
    background-color: #00D85A !important;
    color: #3B4752;
    color: #fff !important;
}

.hstry-30 {
    background-color: #D6953A !important;
    color: white !important;
}

.hstry-60 {
    background-color: #D47E2F !important;
    color: white !important;
}

.hstry-90 {
    background-color: #DA6D2E !important;
    color: white !important;
}

.hstry-120 {
    background-color: #D84B24 !important;
    color: white !important;
}

.hstry-150 {
    background-color: #FE3B36 !important;
    color: white !important;
}

.hstry-160 {
    background-color: red !important;
    color: white !important;
}

.hstry-other {
    background-color: #3B4752 !important;
    color: white !important;
}

.hstry-year {
    background-color: #f1f1f1;
    font-weight: bold;
}

.hstry-divider {
    height: 20px;
}

.outer-border {
    border: solid 1px #ccc;
    padding: 0px 5px;
}

table.rpt_content_header th.tbheader {
    background-color: #3B4752;
    font-weight: bold;
    color: #fff;
}

.reportTopHeader {
    text-align: center;
    color: #3B4752;
    font-size: 20px;
    font-weight: 800;
}
.reportTop_content {
    display:flex;
    justify-content: space-between;
    padding-bottom: 16px;
}
.reportTop_content_label {
    font-size: 14px;
    font-weight: 600;
}
.reportTop_content_info {
    font-size: 12px;
    font-weight: 400;
}
table.rpt_content_contacts th, table.rpt_content_contacts td {
    text-align: left !important;
}

.reportActionBarContainer {
 display: flex;
 align-items: baseline;
 justify-content: space-between;
}
.reportActionButtonContainer {
    display:flex; 
    gap:24px; 
    align-items: center;
}

table.help_text {
    border-collapse: collapse;
    font-size: 12px;
    width: 100%;
}

table.help_text td {
    background: #F5F5F5 !important;
    font-weight: 400;
}

table.help_text td img {
    width: 20px;
    min-width: 20px;
    height: 20px;
}

table.help_text td:not(.help_text_img) {
    padding: 20px;
    padding-left: 0px;
}

.help_text_img {
    width: 30px;
    padding: 20px;
    padding-right: 10px;
}

.footer_content {
    background: #fff;
    padding: 10px 20px;
}

div.re-legend {
    z-index: 1000;
    padding: 32px;
    position: fixed;
    width: 620px;
    background: white;
    border: solid 1px #cccccc;
    color: #3B4752;
    top: 50%;
    left: 50%;
    display: none;
    border-radius: 20px;
    margin-top: -15em;
    margin-left: -20em;
}

div.re-legend .header {
    padding: 0;
    color: #3B4752;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 16px;
    border-bottom: 1px solid #D6D6D6;
    background-color: #fff;
}

div.re-legend .header img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

        div.re-legend .infoSection {
            width: 100%;
            display: flex;
            margin: 16px 0;
            gap: 36px;
        }

        div.re-legend .item {
            display: flex;
            align-items: center;
            gap: 16px;
            margin-bottom: 10px;
        }
    
        div.re-legend .row:first-child {
            flex: 2;
        }
    
        div.re-legend .row {
            flex: 3;
            width: 100%;
        }
    
        div.re-legend .info {
            padding: 0;
            margin: 0;
            font-weight: 600;
        }
    
        div.re-legend .row .desc {
            font-size: 16px;
            font-weight: 500;
        }
    
        div.re-legend .marker {
            width: 36px;
            border: 1px solid #F5F6F6;
            text-align: center;
            font-size: 11px;
            font-weight: 600;
            height: 24px;
            justify-content: center;
            display: flex;
            align-items: center;            
        }

.clear {
    clear: both;
}
.bulletPoint {
    font-size: 11px;
    font-weight: 600;
    white-space: nowrap;
}
.extra_info td.tuc_header {
    width: 25%;
    background: #4AA3C6;
    color: #fff;
    text-align: right !important;
}

.extra_info td.exp_header {
    width: 25%;
    background: #2B4E8C;
    color: #fff;
    text-align: right !important;
}

.extra_info td.eqf_header {
    width: 25%;
    background: #8C2A35;
    color: #fff;
    text-align: right !important;
}

div.descriptionTxt {
    font-size: 12px;
    font-weight: normal;
}

#divReprtOuter * {
    font-family: inherit !important;
}

.clearfloat {
    clear: both;
}

.return_topSpan a {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 8px;
    padding: 8px 16px;
    border-radius: 20px;
    border: 1.5px solid #fff;
}

.return_topSpan a span {
    line-height: 1;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 600;
}

.return_topSpan img {
    width: 14px;
    height: 14px;
    margin: 0;
}

.footer_content .link_header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 16px;
}

.footer_content .link_header a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    border-radius: 20px;
    background-color: #0094FF;
}

.footer_content .link_header a span {
    color: #fff;
    line-height: 1;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 600;
}

.footer_content .link_header img {
    width: 14px;
    height: 14px;
    margin: 0;
    padding: 0;
}

.riskfactors .info {
    padding: 20px !important;
}

.riskfactorsDetail{
    font-weight: 400;
}

.riskfactors .tuc_header,
.riskfactors .exp_header,
.riskfactors .eqf_header {
    padding: 20px !important;
    font-weight: 600;
}
.riskfactors .info a {
    font-size: 16px;
    color: #0094FF;
    padding: 0px;
}

.riskfactors .info b {
    font-size: 16px;
    font-weight: 600;
}

.riskfactors .info span {
    font-size: 12px;
    font-weight: 400;
}
.none-reported {
    padding: 20px !important;
    font-weight: 600;
    font-size: 16px;
}

.legend {
    cursor: pointer;
    line-height: 1;
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1.5px solid #3B4752;
    font-size: 14px;
    font-weight: 600;    
}

td.re-small-td {
    font-size: 11px;
    color: #3B4752 !important;
}

.reportHistory {
    display: flex;
    width: 192px;
    background-color: inherit;
}
.lg-view{
    display:inherit;
 }
 .info .lg-view {
    display: block;
} 
 .sm-view{
    display:none;
 }
.re-select {
    display: flex;
    width: 250px;
    background-color: inherit;
}
 .re-table-container .re-top-heading {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0;
    margin-bottom: 36px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.re-table-container .re-btn-link {
    display: flex;
    padding: 8px 16px;
    align-items: center;
    gap: 8px;
    border-radius: 20px;
    background: #0094FF;
    color: #fff !important;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    height: unset;
    width: unset;
}

.re-table-container .re-btn-link img {
    padding: 0;
    margin: 0;
    width: 14px;
    height: 14px;
}

.re-table-container .re-select-wrapper {
    position: relative;
    margin-right: auto;
    width: 250px;
    padding: 0 16px;
    border: 1px solid #3B4752;
    border-radius: 4px;
}

.re-table-container .re-select-wrapper label {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    left: 14px;
    background: #fff;
    font-size: 12px;
    padding: 0 3px;
    font-weight: 400;
}

.re-table-container select {
    margin: 0;
    padding: 0;
    background: none;
    font-family: inherit;
    border: none;
    color: #3B4752;
    font-size: 12px;
    font-weight: 400;
}

.re-table-container .re-btn-link span {
    white-space: nowrap;
    color: #fff;
}

.re-table-container .reportTopHeader {
    font-size: 20px;
    font-weight: 800;
    color: #3B4752;
    margin-bottom: 12px;
}

.re-table-container .re-data {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 14px;
}
.re-table-container .re-data h3,
.re-table-container .re-data p {
    color: #3B4752;
    margin: 0;
    padding: 0;
    font-weight: 400;
}

.re-table-container .re-data h3 {
    font-size: 14px;
    font-weight: 600;
}

.re-table-container .re-data p {
    font-size: 12px;
}

.re-table-container .re-data > div {
    display: flex;
    align-items: center;
    gap: 12px;
}

.re-table-container .re-links {
    padding: 0;
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.re-table-container .re-links span {
    font-size: 14px;
    font-weight: 600;
    color: #3B4752;
}

.re-table-container .re-links a {
    color: #0094FF;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.input-wrapper img {
    pointer-events: none;
    position: absolute;
    top: 12px;
    right: 12px;
    width: 22px;
    height: 22px;
    margin: 0;
    padding: 0;    
}

@media print {
    .main {
        max-width: 100% !important;
    }

    .column_33_percent {
        width: 0% !important;
        display: none;
    }

    .column_66_percent {
        width: 100% !important;
    }

    .menu > ul > li:not(.logo) {
        display: none !important;
    }
}

@media screen and (max-width:568px) {
    div.legend {
        width: 100%;
        left: 0 !important;
    }

    td.info {
        word-break: break-word;
    }
}

@media (max-width:801px) {
    .riskfactors .tuc_header,
    .riskfactors .exp_header,
    .riskfactors .eqf_header {
        padding: 5px !important;
    }

    .riskfactors .info a {
        font-size: 11px;
    }

    .riskfactors .info b {
        font-size: 11px;
    }

    .riskfactors .info span {
        font-size: 10px;
    }
    .re-even-odd table.rpt_content_header td {
        padding: 5px !important;
    }
    div.rpt_content_wrapper {
        font-size: 11px;
    }    
}

@media screen and (min-width: 768px) {
    .re-table-container .re-data {
        flex-direction: row;
        align-items: center;
    }
    .re-table-container .re-top-heading {
        gap: 24px;
    }
    div.re-legend {
        margin-top: -18em;
        margin-left: -27em;        
    }
}
@media screen and (max-width: 767px) {
    .info .lg-view {
        display: none;
    }  
    .info .sm-view {
        display: block;
        width: unset;
    }  
}

@media screen and (max-width:426px) {
    .input-wrapper {
        width: 100%
    }    
    .re-select {
        width: 100%
    }    
    .re-table-container .re-btn-link {
        padding: 0px;
        width: 140px;
        height: 33px;
    }    
    table.rpt_table4column th, table.rpt_table4column td {
        width: 80px;
    }
    .legend {
        color: #0094FF;
        font-size: 14px;
        font-weight: 600;
        border: none;
    }
    td.label {
        font-weight: 600;
        text-align: right;
        padding-right: 15px !important;
        padding-top: 8px !important;
        padding-bottom: 8px !important;
        /* height: 40px; */
        width: 100px;
    }    
    div.descriptionTxt {
        font-size: 11px;
        font-weight: 600;
    }    
    .riskfactors .info span:not(.riskfactorsDetail){
        font-size: 11px;
        font-weight: 600;
    }
    .riskfactorsDetail{
        font-weight: 400;
    }    
    .re-table-container .reportTopHeader {
        margin-bottom: 8px;
    }    
    .re-table-container .re-top-heading {
        margin-bottom: 12px;
        justify-content: center;
    }    
    .re-table-container .re-select-wrapper {
        width: 100%;
    }
    .reportTop_content {
        flex-direction: column; 
    }
    .reportActionBarContainer {
        flex-direction: column; 
    }
    .link_header {
        justify-content: flex-start;
    }
    .reportHistory {
        width: 100%;
    }
    .lg-view{
        display:none;
     }
    .sm-view {
        display: flex;
        width: 141px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        gap: 8px;
     }
     .info .sm-view {
        display: block;
        width: unset;
     } 
     .return_topSpan .sm-view{
        display: block;
        width: unset;
    }
    
    .reportActionButtonContainer {
        justify-content: space-between;
        width: 100%;
    }
    .re-table-container .re-links {
        justify-content: flex-start;
    }
    .footer_content .link_header {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        gap: 20px;
        justify-content: space-around;
    }
    .footer_content .link_header a {
        padding: 0px;
        width: 140px;
        height: 33px;
    }
    div.re-legend {
        top: 0%;
        left: 0%;
        margin-top: 0px;
        margin-left: 0px;
        width: 100%;
    }
    div.re-legend .row .desc {
        font-size: 12px;
    }    
}
