
.text-right[data-v-2eaeb8c1] {
  text-align: right;
}

/* table {
  max-height: 300px;
  position: relative;
} */
thead tr:nth-child(1) td[data-v-2eaeb8c1] {
  color: #000;
  background: lightgrey;
  position: sticky;
  opacity: 1;
  top: 0;
  z-index: 1000;
}
.tableSmall[data-v-2eaeb8c1] {
  max-height: calc(100vh - 130px);
  height: calc(100vh - 130px);
}
.tableLarge[data-v-2eaeb8c1] {
  max-height: calc(100vh - 220px);
  height: calc(100vh - 220px);
}

