span.transunion[data-v-9df84b26] {
  background-color: #00A6CA;
  color: #fff !important;
}
span.experian[data-v-9df84b26] {
  background-color: #1d4f91;
  color: #fff !important;
}
span.equifax[data-v-9df84b26] {
  background-color: #981e32;
  color: #fff !important;
}
.l-transunion[data-v-9df84b26] {
  background-color: #e4f1f5 !important;
}
.l-experian[data-v-9df84b26] {
  background-color: #ecf4ff !important;
}
.l-equifax[data-v-9df84b26] {
  background-color: #f7edef !important;
}
.my-sticky-dynamic {
  /* height or max-height is important */
  height: 85vh;
  /* this will be the loading indicator */
}
.my-sticky-dynamic .q-table__top,
.my-sticky-dynamic .q-table__bottom,
.my-sticky-dynamic thead tr:first-child th {
  background-color: #fff;
}
.my-sticky-dynamic thead tr th {
  position: sticky;
  z-index: 1;
}
.my-sticky-dynamic thead tr:last-child th {
  /* height of all previous header rows */
  top: 63px;
}
.my-sticky-dynamic thead tr:first-child th {
  top: 0;
}
.heightChat {
  height: calc(100vh - 0px);
}
.heightChat .q-table__top {
  padding: 8px;
}
#tabela-contatos-atendimento thead th {
  height: 55px;
}
