.page-quasar-tiptap-basic .banner {
  position: relative;
  height: 100px;
}
.page-quasar-tiptap-basic .banner .options {
  position: absolute;
  bottom: 0;
  height: 40px;
  padding: 0 1rem;
}
.page-quasar-tiptap-basic .tiptap {
  border: solid 1px #eee;
  border-radius: 6px;
}
.page-quasar-tiptap-basic .editor-scroll-area {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f7f8fa;
}

.my-custom-table[data-v-d27cdd24] {
  /* KUNCI: Memaksa tabel tidak melebar keluar container */
  table-layout: fixed !important;
  width: 100%;
  overflow: hidden;
  /* Menghilangkan scroll horizontal */
}
.my-custom-table[data-v-d27cdd24] .q-table__middle {
  overflow: hidden !important;
}
.my-custom-table[data-v-d27cdd24] td,
.my-custom-table[data-v-d27cdd24] th {
  /* Memastikan konten yang kepanjangan tidak merusak layout */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.truncate-text[data-v-d27cdd24] {
  max-width: 180px; /* Batas lebar visual */
  margin: 0 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
