[Unit]
Description=SurrealDB
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/surreal start \
  --bind 127.0.0.1:8000 \
  --user root \
  --pass Malachi77 \
  surrealkv:///var/lib/surrealdb/ninja.db
Restart=always
RestartSec=5
Environment=SURREAL_LOG=warn

[Install]
WantedBy=multi-user.target
